<a href="https://colab.research.google.com/github/pdthuc/Project-Applied_Data_Science/blob/main/Group12_Notebook.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# KHOA HỌC DỮ LIỆU & ỨNG DỤNG
### GVHD: TRẦN TRUNG KIÊN
### THỰC HIỆN: Nhóm 12
### DANH SÁCH THÀNH VIÊN
  1. 1712667 - Lê Hữu Phúc
  2. 18120167 - Nguyễn Viết Dũng
  3. 18120579 - Đặng Minh Thọ
  4. 18120584 - Phạm Đình Thục

# 1. GIỚI THIỆU ĐỀ TÀI

- **Tên cuộc thi:** Recruit Restaurant Visitor Forecasting
- **Mô tả tổng quan:** Dự đoán nhà hàng sẽ nhận được bao nhiêu khách trong tương lai
- **Link cuộc thi:** https://www.kaggle.com/c/recruit-restaurant-visitor-forecasting
- **Link `TOP 8` Solution:** https://github.com/MaxHalford/kaggle-recruit-restaurant

# 2. SƠ LƯỢC VỀ DỮ LIỆU

Dữ liệu đến từ hai trang web riêng biệt: 
  - Hot Pepper Gourmet (hpg): tại đây người dùng có thể tìm kiếm nhà hàng và đặt chỗ trực tuyến 
  - AirREGI / Restaurant Board (air): hệ thống kiểm soát đặt chỗ và tính tiền
  
Được thu thập từ năm 2016 đến tháng 4 năm 2017 
- AIR: 829 restaurants 
- HPG: 4690 restaurants

# 3. IMPORT CÁC THƯ VIỆN CẦN THIẾT

In [1]:
from google.colab import drive
import os
drive.mount('/content/drive')
os.chdir("/content/drive/My Drive/Colab Notebooks/KHDL")
!ls


import pandas as pd
import numpy as np
import glob

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).
data  Group12_Notebook.ipynb

# 4. KHÁM PHÁ DỮ LIỆU

---
## 4.1 File `air_visit_data.csv`

Trong file `air_visit_data.csv` liên quan về dữ liệu khách theo ngày: Trong file biểu diễn dữ liệu theo ngày (những ngày không có khách sẽ không được thu thập)

 -> Ta cần phải lấy mẫu theo ngày thay vì theo lượt truy cập. Do đó, những ngày không có khách thì lượt truy cập sẽ là 0. Có ích cho việc tính toán luân phiên dựa vào thời gian

In [2]:
air_visit = pd.read_csv('data/air_visit_data.csv')

air_visit.head()

           air_store_id  visit_date  visitors
0  air_ba937bf13d40fb24  2016-01-13        25
1  air_ba937bf13d40fb24  2016-01-14        32
2  air_ba937bf13d40fb24  2016-01-15        29
3  air_ba937bf13d40fb24  2016-01-16        22
4  air_ba937bf13d40fb24  2016-01-18         6

* Sắp xếp dữ liệu theo ngày và thêm vào những này không được thu thập (số lượng khách bằng NaN)

In [3]:
air_visit.index = pd.to_datetime(air_visit['visit_date'])
air_visit = air_visit.groupby('air_store_id').apply(lambda g: g['visitors'].resample('1d').sum()).reset_index()
air_visit.replace(0, np.nan, inplace=True)

air_visit.head()

           air_store_id visit_date  visitors
0  air_00a91d42b08b08d9 2016-07-01      35.0
1  air_00a91d42b08b08d9 2016-07-02       9.0
2  air_00a91d42b08b08d9 2016-07-03       NaN
3  air_00a91d42b08b08d9 2016-07-04      20.0
4  air_00a91d42b08b08d9 2016-07-05      25.0

* Gán cờ cho những ngày không có khách

In [4]:
air_visit['visit_date'] = air_visit['visit_date'].dt.strftime('%Y-%m-%d')
air_visit['was_nil'] = air_visit['visitors'].isnull()
air_visit['visitors'].fillna(0, inplace=True)

air_visit.head()

           air_store_id  visit_date  visitors  was_nil
0  air_00a91d42b08b08d9  2016-07-01      35.0    False
1  air_00a91d42b08b08d9  2016-07-02       9.0    False
2  air_00a91d42b08b08d9  2016-07-03       0.0     True
3  air_00a91d42b08b08d9  2016-07-04      20.0    False
4  air_00a91d42b08b08d9  2016-07-05      25.0    False

---
## 4.2 File `date_info.csv`

Trong file `date_info.csv` liên quan đến dữ liệu các ngày lễ. Ta thêm hai tính năng cho biết ngày hôm trước và ngày hôm sau là ngày lễ hay không?

 -> Điều này giúp ta biết được ngày đó là ngày lễ đơn hay là kỳ nghỉ lễ dài ngày

In [5]:
date_info = pd.read_csv('data/date_info.csv')

date_info.head()

  calendar_date day_of_week  holiday_flg
0    2016-01-01      Friday            1
1    2016-01-02    Saturday            1
2    2016-01-03      Sunday            1
3    2016-01-04      Monday            0
4    2016-01-05     Tuesday            0

In [6]:
date_info.rename(columns={'holiday_flg': 'is_holiday', 'calendar_date': 'visit_date'}, inplace=True)
date_info['prev_day_is_holiday'] = date_info['is_holiday'].shift().fillna(0)
date_info['next_day_is_holiday'] = date_info['is_holiday'].shift(-1).fillna(0)

date_info.head()

   visit_date day_of_week  is_holiday  prev_day_is_holiday  next_day_is_holiday
0  2016-01-01      Friday           1                  0.0                  1.0
1  2016-01-02    Saturday           1                  1.0                  1.0
2  2016-01-03      Sunday           1                  1.0                  0.0
3  2016-01-04      Monday           0                  1.0                  0.0
4  2016-01-05     Tuesday           0                  0.0                  0.0

---
## 4.3 File `air_store_info.csv`

Đối với thông tin của nhà hàng ở đây chúng ta sử dụng phiên bản xử lý trước thay vì phiên bản hiện tại của cuộc thi (vì nó chứa dữ liệu quan trọng của các trạm quan sát thời tiết). Bạn có thể truy cập dữ liệu này ở [đây](https://www.kaggle.com/huntermcgushion/rrv-weather-data).
Dữ liệu này chứa thêm các đặc trưng như: station_id (id của các trạm gần nhà hàng nhất), station_latitude (vĩ độ của trạm), station_longitude (kinh độ),…

In [7]:
air_store_info = pd.read_csv('data/air_store_info.csv')

air_store_info.head()

           air_store_id  air_genre_name  ...   latitude   longitude
0  air_0f0cdeee6c9bf3d7  Italian/French  ...  34.695124  135.197852
1  air_7cc17a324ae5c7dc  Italian/French  ...  34.695124  135.197852
2  air_fee8dcf4d619598e  Italian/French  ...  34.695124  135.197852
3  air_a17f0778617c76e2  Italian/French  ...  34.695124  135.197852
4  air_83db5aff8f50478e  Italian/French  ...  35.658068  139.751599

[5 rows x 5 columns]

In [8]:
air_store_info = pd.read_csv('data/air_store_info_with_nearest_active_station.csv')

air_store_info.head()

           air_store_id  air_genre_name  ... station_vincenty  station_great_circle
0  air_0f0cdeee6c9bf3d7  Italian/French  ...         1.277232              1.274882
1  air_7cc17a324ae5c7dc  Italian/French  ...         1.277232              1.274882
2  air_fee8dcf4d619598e  Italian/French  ...         1.277232              1.274882
3  air_a17f0778617c76e2  Italian/French  ...         1.277232              1.274882
4  air_83db5aff8f50478e  Italian/French  ...         3.730672              3.739835

[5 rows x 12 columns]

---
## 4.4 File `sample_submission.csv`

Tiếp theo chúng ta xử lý tập test, ở đây chúng ta sử dụng file `sample_submission.csv` để lấy dữ liệu test. Ta trích xuất id của nhà hàng và ngày tháng từ cột id. Vì id trong sample là chuỗi gồm id + visit_date.

-> Ta cần tách ra id riêng và visit_date riêng.

Cột test_number nhằm để các kết quả dự đoán (bài nộp) được sắp xếp theo đúng thứ tự.

In [9]:
submission = pd.read_csv('data/sample_submission.csv')
submission['air_store_id'] = submission['id'].str.slice(0, 20)
submission['visit_date'] = submission['id'].str.slice(21)
submission['is_test'] = True
submission['visitors'] = np.nan
submission['test_number'] = range(len(submission))

submission.head()

                                id  visitors  ... is_test test_number
0  air_00a91d42b08b08d9_2017-04-23       NaN  ...    True           0
1  air_00a91d42b08b08d9_2017-04-24       NaN  ...    True           1
2  air_00a91d42b08b08d9_2017-04-25       NaN  ...    True           2
3  air_00a91d42b08b08d9_2017-04-26       NaN  ...    True           3
4  air_00a91d42b08b08d9_2017-04-27       NaN  ...    True           4

[5 rows x 6 columns]

In [10]:
data = pd.concat((air_visit, submission.drop('id', axis='columns')))

data.head()

           air_store_id  visit_date  visitors was_nil is_test  test_number
0  air_00a91d42b08b08d9  2016-07-01      35.0   False     NaN          NaN
1  air_00a91d42b08b08d9  2016-07-02       9.0   False     NaN          NaN
2  air_00a91d42b08b08d9  2016-07-03       0.0    True     NaN          NaN
3  air_00a91d42b08b08d9  2016-07-04      20.0   False     NaN          NaN
4  air_00a91d42b08b08d9  2016-07-05      25.0   False     NaN          NaN

---
## 4.5 Merge dataset

Hợp nhất 2 bộ dữ liệu train và sample_submission sẽ giúp cho quá trình chọn lọc dữ liệu sau này thực hiện đơn giản hơn.

In [11]:
data['is_test'].fillna(False, inplace=True)
data = pd.merge(left=data, right=date_info, on='visit_date', how='left')
data = pd.merge(left=data, right=air_store_info, on='air_store_id', how='left')
data['visitors'] = data['visitors'].astype(float)

data.head()

           air_store_id  visit_date  ...  station_vincenty station_great_circle
0  air_00a91d42b08b08d9  2016-07-01  ...          0.416011             0.415906
1  air_00a91d42b08b08d9  2016-07-02  ...          0.416011             0.415906
2  air_00a91d42b08b08d9  2016-07-03  ...          0.416011             0.415906
3  air_00a91d42b08b08d9  2016-07-04  ...          0.416011             0.415906
4  air_00a91d42b08b08d9  2016-07-05  ...          0.416011             0.415906

[5 rows x 21 columns]

--- 
## 4.6 Dữ liệu thời tiết

Do dữ liệu về thời tiết được lưu trữ ở nhiều file khác nhau, mỗi file ứng với 1 trạm thời tiết. 

Đầu tiên chúng ta nhập vào dữ liệu thời tiết.
Với việc liên kết `1663` file thời tiết với nhau vào bảng weather. Dữ liệu sau này sẽ chỉ xử lí thông qua bảng này.

Trong bảng này có nhiều dữ liệu không tồn tại ~ NaN (dự đoán do nhiều khu vực không thể xảy ra thời tiết đó nên không cần dự đoán khi tạo file cho khu vực - ví dụ 1 khu vực quanh năm nắng nóng sẽ không cần tới loại dữ liệu snowfall và tương tự)

In [12]:
import glob

weather_dfs = []

for path in glob.glob('data/1-1-16_5-31-17_Weather/*.csv'):
    weather_df = pd.read_csv(path)
    weather_df['station_id'] = path.split('\\')[-1].rstrip('.csv')
    weather_dfs.append(weather_df)


weather = pd.concat(weather_dfs, axis='rows')
weather.rename(columns={'calendar_date': 'visit_date'}, inplace=True)

weather.head()

   visit_date  ...                                         station_id
0  2016-01-01  ...  data/1-1-16_5-31-17_Weather/iwate__falcon-fore...
1  2016-01-02  ...  data/1-1-16_5-31-17_Weather/iwate__falcon-fore...
2  2016-01-03  ...  data/1-1-16_5-31-17_Weather/iwate__falcon-fore...
3  2016-01-04  ...  data/1-1-16_5-31-17_Weather/iwate__falcon-fore...
4  2016-01-05  ...  data/1-1-16_5-31-17_Weather/iwate__falcon-fore...

[5 rows x 16 columns]

---
## 4.7 Trích chọn dữ liệu thời tiết

- Sử dụng dữ liệu về lượng mưa và nhiệt độ (lượt bỏ các giá trị khác)
- Tiến hành tiền xử lý các giá trị thiếu bằng cách sử dụng giá trị trung bình (nhiệt độ và lượng mưa) hằng ngày trên toàn cầu để thay thế chúng

In [13]:
means = weather.groupby('visit_date')[['avg_temperature', 'precipitation']].mean().reset_index()
means.rename(columns={'avg_temperature': 'global_avg_temperature', 'precipitation': 'global_precipitation'}, inplace=True)
weather = pd.merge(left=weather, right=means, on='visit_date', how='left')
weather['avg_temperature'].fillna(weather['global_avg_temperature'], inplace=True)
weather['precipitation'].fillna(weather['global_precipitation'], inplace=True)

weather[['visit_date', 'avg_temperature', 'precipitation']].head()

   visit_date  avg_temperature  precipitation
0  2016-01-01         2.868353       0.564662
1  2016-01-02         5.279225       2.341998
2  2016-01-03         6.589978       1.750616
3  2016-01-04         5.857883       1.644946
4  2016-01-05         4.556850       3.193625

---
## 4.8 Kết quả thu được

Sau quá trình khám phá ta thu được bộ dữ liệu như sau:

In [14]:
data['visit_date'] = pd.to_datetime(data['visit_date'])
data.index = data['visit_date']
#data.sort_values(['air_store_id', 'visit_date'], inplace=True)

data.head()

                    air_store_id  ... station_great_circle
visit_date                        ...
2016-07-01  air_00a91d42b08b08d9  ...             0.415906
2016-07-02  air_00a91d42b08b08d9  ...             0.415906
2016-07-03  air_00a91d42b08b08d9  ...             0.415906
2016-07-04  air_00a91d42b08b08d9  ...             0.415906
2016-07-05  air_00a91d42b08b08d9  ...             0.415906

[5 rows x 21 columns]

# 5. TIỀN XỬ LÝ DỮ LIỆU

# 6. XÂY DỰNG MÔ HÌNH

# 7. ĐÁNH GIÁ MÔ HÌNH